.git
.github
.vscode
.venv
venv
node_modules
__pycache__
**/__pycache__
*.pyc
*.pyo
*.pyd
*.log
dist
build
coverage
.pytest_cache
.mypy_cache
.DS_Store
flask_session
*.bin
*.pt
*.pth
*.onnx
*.tar
*.zip
*.gz
*.sqlite
*.db
*.ipynb
